body > #root {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #FFCC00; */
}

#root {
    margin: 0;
    padding: 0;
    /* background-color: rgb(255, 0, 0); */
}

.layerRow {
    display: flex;
    justify-content: space-between;
}

.layerRow:hover {
    background-color: rgb(216, 218, 218);
}

.layerLabel {
    flex-basis: 75%;
}

.layerRemove {
    flex-basis: 25%;
    text-align: right;
}

#workspaceContainer {
    height: 100%;
}

